html {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body {
    margin: 80px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding-top: 50px;
    font-weight: 700;
    font-size: 50px;
    color: #038db4;
}

.header h4 {
    display: flex;
    position: relative;
    top: 40px;
    background: #fff;
    width: 275px;
    justify-content: center;
    z-index: 100;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

h2 {
    font-style: italic;
    font-weight: 600;
    color: #038db4;
}

h3 {
    font-weight: 500;
    line-height: 4px;
}

.summary {
    line-height: 25px;
}

.resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
    margin-top: 50px;
}

article {
    margin-bottom: 40px;
}

hr {
    margin-top: -15px;
}

li {
    line-height: 25px;
}

tr {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 100px;
    line-height: 25px;
}

td {
    display: flex;
    flex-direction: row;
}

.full-square {
    height: 15px;
    width: 15px;
    background-color: #038db4;
    border: 1px solid #000;
    margin-right: 5px;
}

.empty-square {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 5px;
}